<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta property="og:site_name" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <title>Hello World!</title>
        <link href="resources/styles/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <img src="/resources/images/tork-logo.png" alt="" class="logo" />
                <div class="search-menu">
                <form class="search">
                    <input type="search" name="search" placeholder="Search">
                </form>

                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    
                </div>

                </div><!-- /.search-menu -->

            </nav>
            
        </header>

        <main>
            <div class="section" id="section1">
                <div class="section-content">
                    <h1>Building bulletproof damn apps</h1>
                    <p>Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan</p>
                </div><!-- /.section1-content -->
            </div><!-- /#section1.section -->

            <div class="section" id="section2">
                <div class="section-inner">
                <div class="section-content">
                    <h1>Section Heading</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
                    <a href="#">See More</a>


                </div><!-- /.section2-content -->

                <img src="/resources/images/interface.png" alt="" class="interface" />
                <img src="/resources/images/iphone.png" alt="" class="iphone" />
                </div><!-- /.section-inner -->
            </div><!-- /#section2.section -->

            <div class="section" id="section3">
                <div class="section-inner">
                    <ul class="list">
                        <li>
                            <h4>Design & Features</h4>
                            <h6>Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.</h6>
                            <p>Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest.</p>
                            <a href="#">See More</a>
                        </li>
                        <li>
                            <h4>Pocket Power</h4>
                            <h6>Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.</h6>
                            <p>Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest.</p>
                            <a href="#">See More</a>
                        </li>
                        <li>
                            <h4>Inspired by the world</h4>
                            <h6>Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.</h6>
                            <p>Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest.</p>
                            <a href="#">See More</a>
                        </li>
                    </ul><!-- /.list -->
                </div><!-- /.section-inner -->
            </div><!-- /#section3.section -->

            <div class="section" id="section4">
                <h1>Designed for humans</h1>
                <p>Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest. 3 wolf moon Thundercats Banksy paleo, yr four loko Shoreditch dreamcatcher. </p>
                <img src="/resources/images/design.jpg" alt="" class="design" />
            </div><!-- /#section4.section -->
        </main>
        
        <div id="preloader" class="preloader">
            <div class="cssload-loader">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
        </div>
        <script src="resources/scripts/bundle.js"></script>
    </body>
</html>
